.container {
    display: grid;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    width: 50vh;
    text-align: center;
    margin: auto;
}
.table {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 10vh;
    height: 10vh;
}
