* {
    box-sizing: border-box;
    text-align: center;
}


div {
    background-color: gray;
    margin: 10px auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.off_color{
    background-color: antiquewhite;
}